.title{
    text-align: center
}

.header-list{
     display: flex;
    list-style: none;
    justify-content: space-between;
}
li{
    font-size: 1.5em;
    list-style: none;
    float: left;
    padding: 8px 25px;
    box-sizing: border-box ;
    border: 1px solid #000000;
}